.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
  
    background-color: white;
    margin-top: 120px;
    margin-left: 370px;
    row-gap: 30px;
}
.ml260 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    background-color: white;
    margin-top: 120px;
    margin-left: 260px;
    row-gap: 30px;
}
.contaier {
    cursor: pointer;
    position: relative;
    display: flex;
    column-gap: 20px;
    padding-left: 50px;
    width: 100%;
    img {
        width: 360px;
        height: 200px;
        border-radius: 12px;
        
    }
    .title {
        color: #0f0f0f;
        font-size: 18px;
    }
    .channels {
        display: inline-flex;
        margin: 12px 0;
        align-items: center;
        column-gap: 4px;

    }
    .des {
        color: #606066;
        font-size: 12px;
    }
    &:hover .more,&:hover .icons {
        display: block;
    }
  
    .more {
        display: none;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.video {
    position: relative;
}
.icons {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    p {
        
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        margin-bottom: 4px;
        line-height: 10px;
        padding: 5px;
    }
}
@media screen and (max-width:1300px) {
    .ml260 {
        width: 90%;
        margin-left: 60px;
    }
    .contaier {
        width: 90%;
    }
}

@media screen and (max-width:800px) {
    .contaier {
        width: 98%;
        img {
            width: 290px;
    height: 160px;
        }
    }
}
@media screen and (max-width:655px) {
    .ml260 {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        }
        .contaier {
            width: 100%;
            padding: 0 20px;
            img {
                width: 276px;
                height: 190px;
                border-radius: 12px;
            }
            &:hover .more {
                display: none;
            }   
        }

}
@media screen and (max-width:460px) {
    .contaier {
        flex-direction: column;
        row-gap: 10px   ;
        img {
            width: 100%;
            height: 100%x;
            
        }
    }
}