.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    background-color: white;
    margin-top: 150px;
}
@media screen and (max-width: 505px) {
   .wrapper {
        width: 98%;
        justify-content: center;
   }
}
@media screen and (min-width:505px) and (max-width:655px) {
    .wrapper {
        width: 98%;
        justify-content: space-between;
    }
}
@media screen and (min-width:655px) and (max-width:900px) {
    .wrapper {
        width: 96%;
    }
}
.ml240 {
    margin-left: 240px;
}
.ml93 {
    margin-left: 30px;
}
@media screen and (max-width:655px) {
    .ml93{
      margin: 64px auto 0 auto;
    }
}
@media screen and (min-width:655px) and (max-width:1300px) {
   .ml93 {    
        margin-left: 93px;
    }
}

