.wrapper {
    display: flex;
    position: fixed;
    top: 64px;
    left: 240px;
    right: 0;
    z-index: 99;
    background-color: white;
    li {
        cursor: pointer;
        font-size: 14px;
        padding:5px 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        margin:12px 12px 12px 0;
    }
}