.item {
    display: block;
    position: relative;
    width: 24%;
    border-radius: 10px;
    overflow: hidden; 
    border-radius: 10px;
    background-color: white;
    &:hover .moreBtn {
        display: block;
    }
    &:hover {
        transform: scale(1.3,1.2);
        position: relative;
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform .25s 1s ease-in-out, box-shadow .25s 1s ease-in-out;
    }
    &:hover .btnVideo {
       opacity: 1;
       display: flex;
       transition: opacity .25s 1s ease-in-out, display .25s 1s ease-in-out;
    }
    .boxVideo {
        width:'100%';
        height:'198px'
    }
}
.moreBtn {
    cursor: pointer;
    position: absolute;
    bottom: 112px;
    right: 0px;
    font-size: 20px;
    display: none;
}
.nam {
    display: block;

    position: relative;
    width: 19%;
    border-radius: 10px;
    overflow: hidden; 
    border-radius: 10px;
    background-color: white;

    &:hover .moreBtn {
        display: block;
    }
    &:hover {
        transform: scale(1.3,1.2);
        position: relative;
        z-index: 99;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform .25s 1s ease-in-out, box-shadow .25s 1s ease-in-out;
    }
    &:hover .btnVideo {
       opacity: 1;
       display: flex;
       transition: opacity .25s 1s ease-in-out, display .25s 1s ease-in-out;
    }
    .boxVideo {
        width:'100%';
        height:'186px'
    }
}

.info {
    display: flex;
    column-gap: 20px;
}
.video {
    width: 100%;
    border-radius: 10px;
    border: none ;
}
.titleVideo {
    white-space: nowrap;
    width: 260px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
.title {
    font-size: 15px;
    font-weight: 500;
    max-height: 4rem;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 4px;
}
.btnVideo {
    display: none;
    opacity: 0;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.actionVideo {
    width: 48%;
    min-width: min-content;
    color: #0a0a0a !important;
    border-radius: 99px !important;
    background-color:#f2f2f2 !important;
}
@media screen and (max-width: 505px) {
    .nam {
        width: 80%;
        &:hover {
            transform: none;
            box-shadow:none
        }
      
    }
}
@media screen and (min-width:505px) and (max-width:655px) {
    .nam {
        width: 49%;
        &:hover {
            transform: none;
            box-shadow:none
        }
     
    }
    .info {
        column-gap: 10px;
    }
    .titleVideo {
        width: 170px;
    }
}
@media screen and (min-width:655px) and (max-width:900px) {
    .nam {
        width: 49%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }
    .titleVideo {
        width: 170px;
    }
}
@media screen and (min-width:900px) and (max-width:1300px) {
    .nam {
        width: 33%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }   
}
@media screen and (min-width:1300px) and (max-width:1500px) {
    .nam {
        width: 24%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }   
}
@media screen and (max-width:1000px)  {
    .item {
        width: 80%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }   
}
@media screen and (min-width:1000px) and (max-width:1300px) {
    .item {
        width: 49%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }   
}
@media screen and (min-width:1300px) and (max-width:1500px) {
    .item {
        width: 33%;
        &:hover {
            transform: none;
            box-shadow:none
        }
    }   
}


