.logoBox {
    display: flex;
    column-gap: 10px;
}
.display {
    width: 38%;
    display: flex;
    justify-content: center;
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    padding: 0 39px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo {
    display: flex;
    column-gap: 10px;
    img {
        height: 64px;
    }
    button {
        position: relative;
        margin-right: 4px;
        &:hover::after{
            display: block;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.05);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: none;
        }
    }

}

@media screen and (max-width:710px) {
    .wrapper {
        padding: 0 12px;
    }
    .display {
        display: none;
    }
}
@media screen and (min-width:655px) and (max-width:900px) {
    .wrapper {
        padding: 0 36px;
    }
    .logo {
        column-gap: 0;
    }
}
