.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    padding: 0 39px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo {
    display: flex;
    column-gap: 20px;
    img {
        height: 64px;
    }
    button {
        position: relative;
        margin-right: 4px;
        &:hover::after{
            display: block;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.05);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: none;
        }
    }

}
