.wrapper {
    margin-top: 64px !important;
    width: 90%;
    display: flex;
    margin: 0 auto;
    column-gap: 26px;
}
@media screen and (max-width:1310px) {
    .listVideo {
        display: none;
    }
}