.actions {
    display: flex;
    column-gap: 20px;
    .item {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding: 8px 20px;
        color: black;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        p {
            display: block;
            font-size: 14px;
            flex: 1 ;
        }
    }
}
.bell {
    height: 110px;
    width: 100%;
}
.inp {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 10px;
}
.errorsMess {
    color: rgb(187, 52, 52);
    display: block;
    margin-bottom: 20px;
}
@media screen and (max-width:900px) {
    .actions {
        column-gap: 0;
    }
}