.wrapper {
    display: flex;
    width: 420px;
    height: 94px;
    margin-bottom: 10px;
    column-gap: 10px;
}
.thumb {
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        width: 166px;
    }
}
.des {
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
