* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6 ;
  font-family: 'Roboto';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
button,input {
  border: none;
  outline: none;
  background-color: white;
}
button {
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}
